.parent {
  display: flex;
  flex-direction: column;
}

.topbar {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.topbarLogo {
  max-width: 50px;
  max-height: 50px;
  pointer-events: none;
}
